{% extends 'base.html.twig' %}

{% block body %}

  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Elephant_Diversity.jpg/413px-Elephant_Diversity.jpg"></img>

  <p>
    Слоны — самые крупные наземные животные на Земле. Обитают они в Юго-Восточной Азии и Африке в тропических лесах и саваннах. Самыми крупными являются африканские саванные слоны, их масса может превышать 6 тонн[9].

Полупальцеходящие животные.[10] В центре стопы слона есть жировая подушка, которая каждый раз, когда слон опускает ногу, «расплющивается», увеличивая площадь опоры. На верхней челюсти у слонов есть бивни — видоизменённые резцы, растущие в течение всей жизни животного. Обычно слоны либо имеют два бивня, либо не имеют их вообще (у африканских слонов бивни имеют и самцы и самки, у индийских — только самцы). С помощью бивней они обдирают кору с деревьев и рыхлят землю в поисках соли, а также наносят раны хищникам.

Чтобы защититься от паразитов, слоны нередко обливаются жидкой грязью. Засохшая грязевая корочка служит хорошей защитой от насекомых и способствует заживлению ранок на коже.
  </p>

  <div class="flex mt-10">

    Вы подписаны:&nbsp;
    <a class="text-green-500 hover:text-green-700" 
       href="{{path('vievBlog')}}"
    >
       Alex
    </a>

    <a href="{{ path('toogleFollowStatus_id',{'id':1}) }}" 
       class="ml-3 inline font-bold text-sm px-6 py-2
          text-white rounded
          bg-blue-500
          hover:bg-blue-600">
        Подписаться на автора сообщения.
    </a>

</div>
{% endblock %}
